.DS_Store
glfw-src/.DS_Store
*.xcodeproj/*.mode2v3
*.xcodeproj/*.pbxuser
*.xcodeproj/xcuserdata/*
*.xcodeproj/*.mode2v3
*.xcodeproj/*.pbxuser
*.xcodeproj/xcuserdata/*.xcuserdatad
*.xcodeproj/project.xcworkspace/xcuserdata/*
.DS_Store
