.DS_Store
glfw-src/.DS_Store
*.xcodeproj/*.mode2v3
*.xcodeproj/*.pbxuser
*.xcodeproj/xcuserdata/*
*.xcodeproj/xcuserdata/*.xcuserdatad
*.xcodeproj/project.xcworkspace/xcuserdata/*
build/*
bin/*
Spider-Fish.cbp
Spider-Fish.depend
Spider-Fish.layout
obj/
